@{
    ViewBag.Title = "Home Page";
}

<p class="lead">Thank you for buying this kettle</p>
<img src="http://media.4rgos.it/s/Argos/5571390_R_SET?$Main768$&w=620&h=620" />

<fieldset>
	<legend>Payment</legend>

	<a class="btn btn-lg btn-primary" href="@Url.Action("CreditCard")">Pay by Credit/Debit Card</a>

	<a class="btn btn-lg btn-info" href="@Url.Action("PayPal")">Pay by PayPal</a>

</fieldset>

<fieldset>
	<legend>Refunds</legend>

	@if (Session["CreditCard.Charge"] != null)
	{
		<a class="btn btn-lg btn-danger" href="@Url.Action("RefundCreditCard")">Refund Credit/Debit Card payment</a>
	}
	@if (Session["CreditCard.Refund"] != null)
	{
		<div class="alert alert-success">Credit/Debit Card payment refunded.</div>
	}
	@if (Session["CreditCard.Void"] != null)
	{
		<div class="alert alert-success">Credit/Debit Card payment voided.</div>
	}

	@if (Session["PayPal.Payment"] != null)
	{
		<a class="btn btn-lg btn-danger" href="@Url.Action("RefundPayPal")">Refund PayPal payment</a>
	}
	@if (Session["PayPal.Refund"] != null)
	{
		<div class="alert alert-success">PayPal payment refunded.</div>
	}

	@using (Html.BeginForm("RefundCreditCardWithId", "Home", FormMethod.Post, new { @class = "form-inline" }))
	{
		<label class="control-label">Charge Id</label>
		@Html.TextBox("chargeId", "", new { @class = "form-control" })
		<input type="submit" class="btn btn-danger" value="Refund Credit Card payment" />
	}

	@using (Html.BeginForm("RefundPayPalWithSaleId", "Home", FormMethod.Post, new { @class = "form-inline" }))
	{
		<label class="control-label">Sale Id</label>
		@Html.TextBox("saleId", "", new { @class = "form-control" })
		<input type="submit" class="btn btn-danger" value="Refund PayPal payment" />
	}
</fieldset>

